/*
* @Author: Marte
* @Date:   2018-02-02 17:09:22
* @Last Modified by:   曾宪林
* @Last Modified time: 2018-08-22 15:58:26
*/
$blue: #3190e8;
$bc: #e4e4e4;
$fc:#fff;

$baseFontsize: 75px;
// pixels to rems
@function px2rem($pixels){
    @return $pixels / $baseFontsize * 1rem;
}

// 背景图片地址和大小
@mixin back_img($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@mixin borderRadius($radius) {
    -ms-border-radius: $radius; /* Internet Explorer */
    -moz-border-radius: $radius; /* Firefox */
    -webkit-border-radius: $radius; /* Safari 和 Chrome */
    -o-border-radius: $radius; /* Opera */
}
@mixin borderColor($color) {
    border: 1px solid $color;
    -ms-border: 1px solid $color; /* Internet Explorer */
    -moz-border: 1px solid $color; /* Firefox */
    -webkit-border: 1px solid $color; /* Safari 和 Chrome */
    -o-border: 1px solid $color; /* Opera */
}
//定位全屏
@mixin pos_a{
    position:absolute;
    top:0;
    left:0;
}

//定位上下左右居中
@mixin pos_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* Internet Explorer */
    -moz-transform: translate(-50%, -50%); /* Firefox */
    -webkit-transform: translate(-50%, -50%); /* Safari 和 Chrome */
    -o-transform: translate(-50%, -50%); /* Opera */
}

//定位上下居中
@mixin ct {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%); /* Internet Explorer */
    -moz-transform: translateY(-50%); /* Firefox */
    -webkit-transform: translateY(-50%); /* Safari 和 Chrome */
    -o-transform: translateY(-50%); /* Opera */
}

//定位上下居中
@mixin cl {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%); /* Internet Explorer */
    -moz-transform: translateX(-50%); /* Firefox */
    -webkit-transform: translateX(-50%); /* Safari 和 Chrome */
    -o-transform: translateX(-50%); /* Opera */
}

//宽高
@mixin wh($width, $height){
    width: $width;
    height: $height;
}

//字体大小、行高、字体
@mixin font($size, $line-height, $family: 'Microsoft YaHei') {
    font: #{$size}/#{$line-height} $family;
}

//字体大小，颜色
@mixin sc($size, $color){
    font-size: $size;
    color: $color;
}

//flex 布局和 子元素 对其方式
@mixin fj($type: space-between){
    display: flex;
    justify-content: $type;

}

// 主题渐变色
@mixin gradual(){
    background: -moz-linear-gradient(left, #FFAE00 0%, #FF852B 100%);
    background: -webkit-gradient(linear, left left, left rigtht, color-stop(0%,#FFAE00), color-stop(100%,#FF852B));
    background: -webkit-linear-gradient(left, #FFAE00 0%,#FF852B 100%);
    background: -o-linear-gradient(left, #FFAE00 0%,#FF852B 100%);
    background: -ms-linear-gradient(left, #FFAE00 0%,#FF852B 100%);
    background: linear-gradient(to left, #FFAE00 0%,#FF852B 100%);
}
